/*
#f6511d
#FFB400
#00A6ED
#474448
#F9E7E7
*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Josefin+Sans:wght@300;400;600&display=swap');

.App {
  text-align: center;
  height: 100vh;
  background-color: #F9E7E7;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header {
  background-color: #F9E7E7;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #474448;
  font-family: 'Acme', sans-serif;
}

.main {
  margin-top: 20px;
  height: 70%;
  width: 40%;
  background-color: #F9E7E7;
  border-radius: 4px;
  box-shadow: -2px 8px 30px rgba(0, 0, 0, 0.4);
  font-family: 'Acme', sans-serif;
  position: relative;
}

